:root {
  --background-color: rgb(230 229 218);
  --heading-font-family: "Josefin Sans", sans-serif;
  --paragraph-font-family: "Poppins", sans-serif;
  --opacity-font-color: rgb(41, 39, 39);
}

body {
  text-align: center;
  color: black;
  font-family: var(--paragraph-font-family);
}
.hero {
  background-color: var(--background-color);
  padding: 180px 30px;
  line-height: 2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 96px;
}
h2 {
  font-size: 35px;
  color: var(--opacity-font-color);
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 38px;
}
h5 {
  font-size: 53px;
}
h6 {
  font-size: 28px;
}
.btn-branding {
  background-color: var(--opacity-font-color);
  color: white;
  border-radius: 8px;
  font-weight: 300;
  font-size: 20px;
  padding: 16px 26px;
}

p {
  font-weight: 300;
}

.around {
  background-color: var(--background-color);
  padding: 30px;
}
.project {
  background-color: var(--background-color);
  color: black;
  font-size: 18px;
  padding: 12px 20px;
}

.content-in {
  padding: 180px 0;
}
.see-projects {
  font-size: 16px;
  padding: 13px 20px;
}
.headshot {
  width: 435px;
}

.donate {
  text-decoration: none;
}
.works-list {
  max-height: 440px;
}

footer {
  font-size: 28px;
  color: rgb(41, 39, 39);
}

.contact {
  text-decoration: none;
}

@media (max-width: 767px) {
  .hero {
    padding: 30px;
  }
  h1 {
    font-size: 48px;
    text-shadow: var(--opacity-font-color) 1px 1px;
  }

  .btn-branding {
    font-size: 16px;
  }

  h4 {
    font-size: 28px;
  }
  .around {
    display: none;
  }

  .see-projects {
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .content {
    padding: 10px;
  }

  h5 {
    padding: 10px;
    text-shadow: var(--opacity-font-color) 1px 1px;
    font-size: 35px;
  }
  h6 {
    font-size: 26px;
  }
}
