:root {
  --background-color: rgb(230 229 218);
  --heading-font-family: "Josefin Sans", sans-serif;
  --paragraph-font-family: "Poppins", sans-serif;
  --opacity-font-color: rgb(41, 39, 39);
}

body {
  text-align: center;
  color: black;
  font-family: var(--paragraph-font-family);
}
.hero {
  background-color: var(--background-color);
  padding: 180px 30px;
  line-height: 2;
}
h1,
h2,
h3,
h5 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 96px;
}
h2 {
  font-size: 35px;
  color: rgb(41, 39, 39);
}
h3 {
  font-size: 40px;
}
.btn-branding {
  background-color: var(--opacity-font-color);
  color: white;
  border-radius: 8px;
  font-weight: 300;
  font-size: 20px;
  padding: 16px 26px;
}

p {
  font-weight: 300;
}

.around {
  background-color: var(--background-color);
  padding: 30px;
}
.project {
  background-color: var(--background-color);
  color: black;
  font-size: 18px;
  padding: 12px 20px;
}

footer {
  font-size: 28px;
  color: rgb(41, 39, 39);
}
@media (max-width: 576px) {
  .hero {
    padding: 30px;
  }
  h1 {
    font-size: 48px;
    text-shadow: var(--opacity-font-color) 1px 1px;
  }

  .btn-branding {
    font-size: 16px;
  }
  img,
  .around {
    display: none;
  }
}
